# **KOMPI 17 - Kelompok 3 - KANDAS**

# **SOAL 1**

In [4]:
import pandas as pd
# from google.colab import drive

In [5]:
# # Menghubungkan Google Drive dengan Google Colab
# drive.mount('/content/drive')

## **Identifikasi dan jelaskan tipe data apa saja yang ada pada dataframe, ada berapa kolom dan baris, serta informasi apa saja yang terkandung dalam data tersebut?**

In [6]:
# Lokasi file CSV di Google Drive
file_path = 'https://raw.githubusercontent.com/BimaBayuUWUUU/DSAI_Batch6_Code/5439c4ba179aedcb5285a2f49ce2549b1f47e4f1/Dataset/Dataset_Kompi17_Assignment1.csv'

# Baca data dari file csv ke dalam dataframe
df_17 = pd.read_csv(file_path)

# Identifikasi tipe data, jumlah kolom dan baris, serta informasi dalam data
print("Tipe data:", df_17.dtypes)
print("Jumlah baris dan kolom:", df_17.shape)
print("Informasi data:")
df_17.info()

Tipe data: No_Peserta      object
Nama            object
Jurusan         object
Berat_Badan      int64
Tinggi_Badan     int64
dtype: object
Jumlah baris dan kolom: (25, 5)
Informasi data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No_Peserta    25 non-null     object
 1   Nama          25 non-null     object
 2   Jurusan       25 non-null     object
 3   Berat_Badan   25 non-null     int64
 4   Tinggi_Badan  25 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.1+ KB

**Tipe Data Object:**
* Mengacu pada kolom yang berisi berbagai jenis nilai, seperti string, tanggal, atau objek lainnya.
* Sering kali berisi teks, angka yang dianggap sebagai string, atau kombinasi keduanya.

**Tipe Data int64:**
* Tipe data bilangan bulat dengan rentang nilai lebih besar dari pada int32.

In [7]:
df_17

,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan
0,SC61704,Lu'lu Ul Jannah,Teknik Informatika,45,150
1,SC61717,Rahel Cecilia Purba,Teknik Informatika,68,158
2,SC61722,Nathifa Fadheela,Statistika,53,160
3,SC61705,Irfan Widiantoro,Teknik Informatika,49,161
4,SC61771,Wahyudin,Sastra Arab,54,175
5,SC61708,Nayangku Wulansari,Akuntansi,38,158
6,SC61702,Astrid Monika,Manajemen,44,155
7,SC61723,Nirina Ari Fani,Akuntansi,49,160
8,SC61701,Akhmal Angga Syahputra,Sistem Informasi,65,175
9,SC61721,Fineke Suciningtyas,Matematika,57,156
10,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165
11,SC61715,Luthfiah Tuti Amalia,Manajemen,50,158
12,SC61718,Umul Syarifah,Fisika,62,160
13,SC61707,Muhammad Fardan Hadziqan,Bisnis Digital,67,170
14,SC61714,I Gusti Agung Gede Ary Mahayasa,Informatika,72,180
15,SC61703,Diandra Masayu Nastabilla,Akuntansi,66,163
16,SC61712,Anggieta Azzqhroika,Matematika,51,159
17,SC61709,Nadhifa Faiza,Teknik Informatika,61,166
18,SC61713,Dini Ismoyobeti,Akuntansi,58,160
19,SC61719,Amelia Wardani,Statistika,85,157
20,SC61725,Zalfa Amira,Sistem Komputer,69,166
21,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180
22,SC61724,Naswa Nabila Zahrani,Statistika,46,152
23,SC61706,M. Zidhan,Ekonomi Pembangunan,54,165
24,SC61710,Sekar Dewi Harnum Saputri,Informatika,45,159

## **Buatlah program untuk menghitung BMI! Update dataframe df dengan menambahkan hasil perhitungan, beri nama kolom BMI.**

In [8]:
# Hitung BMI setiap siswa dan tambahkan kolom baru
df_17['BMI'] = df_17['Berat_Badan'] / ((df_17['Tinggi_Badan'] / 100) ** 2)

### **Bentuk fungsi**

In [9]:
# Fungsi Hitung BMI setiap siswa
# def calculate_bmi(weight, height):
#     bmi = weight / ((height / 100) ** 2)
#     return bmi

# df_17['BMI'] = calculate_bmi(df_17['Berat_Badan'], df_17['Tinggi_Badan'] )

In [10]:
df_17

,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan,BMI
0,SC61704,Lu'lu Ul Jannah,Teknik Informatika,45,150,20.000000
1,SC61717,Rahel Cecilia Purba,Teknik Informatika,68,158,27.239224
2,SC61722,Nathifa Fadheela,Statistika,53,160,20.703125
3,SC61705,Irfan Widiantoro,Teknik Informatika,49,161,18.903592
4,SC61771,Wahyudin,Sastra Arab,54,175,17.632653
5,SC61708,Nayangku Wulansari,Akuntansi,38,158,15.221920
6,SC61702,Astrid Monika,Manajemen,44,155,18.314256
7,SC61723,Nirina Ari Fani,Akuntansi,49,160,19.140625
8,SC61701,Akhmal Angga Syahputra,Sistem Informasi,65,175,21.224490
9,SC61721,Fineke Suciningtyas,Matematika,57,156,23.422091
10,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165,27.180900
11,SC61715,Luthfiah Tuti Amalia,Manajemen,50,158,20.028842
12,SC61718,Umul Syarifah,Fisika,62,160,24.218750
13,SC61707,Muhammad Fardan Hadziqan,Bisnis Digital,67,170,23.183391
14,SC61714,I Gusti Agung Gede Ary Mahayasa,Informatika,72,180,22.222222
15,SC61703,Diandra Masayu Nastabilla,Akuntansi,66,163,24.840980
16,SC61712,Anggieta Azzqhroika,Matematika,51,159,20.173253
17,SC61709,Nadhifa Faiza,Teknik Informatika,61,166,22.136740
18,SC61713,Dini Ismoyobeti,Akuntansi,58,160,22.656250
19,SC61719,Amelia Wardani,Statistika,85,157,34.484158
20,SC61725,Zalfa Amira,Sistem Komputer,69,166,25.039919
21,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180,30.864198
22,SC61724,Naswa Nabila Zahrani,Statistika,46,152,19.909972
23,SC61706,M. Zidhan,Ekonomi Pembangunan,54,165,19.834711
24,SC61710,Sekar Dewi Harnum Saputri,Informatika,45,159,17.799929

## **Buatlah status BMI untuk setiap siswa dari kategori berikut, lalu simpan data statusnya dengan nama kolom Status BMI.**
* Normal: 18.5-24.9
* Overweight: 25.0-29.9
* Obesity: 30.0-34.9
* Underweight: < 18.5

In [11]:
# Buat status BMI untuk setiap siswa dan tambahkan kolom baru
def get_status_bmi(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi <= 24.9:
        return 'Normal'
    elif 25.0 <= bmi <= 29.9:
        return 'Overweight'
    elif 30.0 <= bmi <= 34.9:
        return 'Obesity'
    else:
        return 'Tidak Ada Interval Yang Sesuai'

df_17['Status BMI'] = df_17['BMI'].apply(get_status_bmi)

In [12]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No_Peserta    25 non-null     object
 1   Nama          25 non-null     object
 2   Jurusan       25 non-null     object
 3   Berat_Badan   25 non-null     int64
 4   Tinggi_Badan  25 non-null     int64
 5   BMI           25 non-null     float64
 6   Status BMI    25 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.5+ KB

In [13]:
df_17

,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan,BMI,Status BMI
0,SC61704,Lu'lu Ul Jannah,Teknik Informatika,45,150,20.000000,Normal
1,SC61717,Rahel Cecilia Purba,Teknik Informatika,68,158,27.239224,Overweight
2,SC61722,Nathifa Fadheela,Statistika,53,160,20.703125,Normal
3,SC61705,Irfan Widiantoro,Teknik Informatika,49,161,18.903592,Normal
4,SC61771,Wahyudin,Sastra Arab,54,175,17.632653,Underweight
5,SC61708,Nayangku Wulansari,Akuntansi,38,158,15.221920,Underweight
6,SC61702,Astrid Monika,Manajemen,44,155,18.314256,Underweight
7,SC61723,Nirina Ari Fani,Akuntansi,49,160,19.140625,Normal
8,SC61701,Akhmal Angga Syahputra,Sistem Informasi,65,175,21.224490,Normal
9,SC61721,Fineke Suciningtyas,Matematika,57,156,23.422091,Normal
10,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165,27.180900,Overweight
11,SC61715,Luthfiah Tuti Amalia,Manajemen,50,158,20.028842,Normal
12,SC61718,Umul Syarifah,Fisika,62,160,24.218750,Normal
13,SC61707,Muhammad Fardan Hadziqan,Bisnis Digital,67,170,23.183391,Normal
14,SC61714,I Gusti Agung Gede Ary Mahayasa,Informatika,72,180,22.222222,Normal
15,SC61703,Diandra Masayu Nastabilla,Akuntansi,66,163,24.840980,Normal
16,SC61712,Anggieta Azzqhroika,Matematika,51,159,20.173253,Normal
17,SC61709,Nadhifa Faiza,Teknik Informatika,61,166,22.136740,Normal
18,SC61713,Dini Ismoyobeti,Akuntansi,58,160,22.656250,Normal
19,SC61719,Amelia Wardani,Statistika,85,157,34.484158,Obesity
20,SC61725,Zalfa Amira,Sistem Komputer,69,166,25.039919,Overweight
21,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180,30.864198,Obesity
22,SC61724,Naswa Nabila Zahrani,Statistika,46,152,19.909972,Normal
23,SC61706,M. Zidhan,Ekonomi Pembangunan,54,165,19.834711,Normal
24,SC61710,Sekar Dewi Harnum Saputri,Informatika,45,159,17.799929,Underweight

## **a. Buatlah variabel baru lalu urutkan data berdasarkan tinggi badan dari yang tertinggi ke rendah. || b. Buat variabel baru lalu urutkan data berdasarkan Nama dari Z-A.**

In [14]:
# Lakukan pengurutan dataframe berdasarkan tinggi badan dan nama
df_sorted_by_height = df_17.sort_values(by='Tinggi_Badan', ascending=False)
df_sorted_by_name = df_17.sort_values(by='Nama', ascending=False)

In [15]:
df_sorted_by_height

,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan,BMI,Status BMI
21,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180,30.864198,Obesity
14,SC61714,I Gusti Agung Gede Ary Mahayasa,Informatika,72,180,22.222222,Normal
4,SC61771,Wahyudin,Sastra Arab,54,175,17.632653,Underweight
8,SC61701,Akhmal Angga Syahputra,Sistem Informasi,65,175,21.224490,Normal
13,SC61707,Muhammad Fardan Hadziqan,Bisnis Digital,67,170,23.183391,Normal
20,SC61725,Zalfa Amira,Sistem Komputer,69,166,25.039919,Overweight
17,SC61709,Nadhifa Faiza,Teknik Informatika,61,166,22.136740,Normal
23,SC61706,M. Zidhan,Ekonomi Pembangunan,54,165,19.834711,Normal
10,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165,27.180900,Overweight
15,SC61703,Diandra Masayu Nastabilla,Akuntansi,66,163,24.840980,Normal
3,SC61705,Irfan Widiantoro,Teknik Informatika,49,161,18.903592,Normal
12,SC61718,Umul Syarifah,Fisika,62,160,24.218750,Normal
2,SC61722,Nathifa Fadheela,Statistika,53,160,20.703125,Normal
7,SC61723,Nirina Ari Fani,Akuntansi,49,160,19.140625,Normal
18,SC61713,Dini Ismoyobeti,Akuntansi,58,160,22.656250,Normal
16,SC61712,Anggieta Azzqhroika,Matematika,51,159,20.173253,Normal
24,SC61710,Sekar Dewi Harnum Saputri,Informatika,45,159,17.799929,Underweight
1,SC61717,Rahel Cecilia Purba,Teknik Informatika,68,158,27.239224,Overweight
11,SC61715,Luthfiah Tuti Amalia,Manajemen,50,158,20.028842,Normal
5,SC61708,Nayangku Wulansari,Akuntansi,38,158,15.221920,Underweight
19,SC61719,Amelia Wardani,Statistika,85,157,34.484158,Obesity
9,SC61721,Fineke Suciningtyas,Matematika,57,156,23.422091,Normal
6,SC61702,Astrid Monika,Manajemen,44,155,18.314256,Underweight
22,SC61724,Naswa Nabila Zahrani,Statistika,46,152,19.909972,Normal
0,SC61704,Lu'lu Ul Jannah,Teknik Informatika,45,150,20.000000,Normal

In [16]:
df_sorted_by_name

,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan,BMI,Status BMI
20,SC61725,Zalfa Amira,Sistem Komputer,69,166,25.039919,Overweight
4,SC61771,Wahyudin,Sastra Arab,54,175,17.632653,Underweight
12,SC61718,Umul Syarifah,Fisika,62,160,24.218750,Normal
24,SC61710,Sekar Dewi Harnum Saputri,Informatika,45,159,17.799929,Underweight
1,SC61717,Rahel Cecilia Purba,Teknik Informatika,68,158,27.239224,Overweight
7,SC61723,Nirina Ari Fani,Akuntansi,49,160,19.140625,Normal
5,SC61708,Nayangku Wulansari,Akuntansi,38,158,15.221920,Underweight
2,SC61722,Nathifa Fadheela,Statistika,53,160,20.703125,Normal
22,SC61724,Naswa Nabila Zahrani,Statistika,46,152,19.909972,Normal
17,SC61709,Nadhifa Faiza,Teknik Informatika,61,166,22.136740,Normal
10,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165,27.180900,Overweight
13,SC61707,Muhammad Fardan Hadziqan,Bisnis Digital,67,170,23.183391,Normal
23,SC61706,M. Zidhan,Ekonomi Pembangunan,54,165,19.834711,Normal
11,SC61715,Luthfiah Tuti Amalia,Manajemen,50,158,20.028842,Normal
0,SC61704,Lu'lu Ul Jannah,Teknik Informatika,45,150,20.000000,Normal
3,SC61705,Irfan Widiantoro,Teknik Informatika,49,161,18.903592,Normal
14,SC61714,I Gusti Agung Gede Ary Mahayasa,Informatika,72,180,22.222222,Normal
9,SC61721,Fineke Suciningtyas,Matematika,57,156,23.422091,Normal
18,SC61713,Dini Ismoyobeti,Akuntansi,58,160,22.656250,Normal
15,SC61703,Diandra Masayu Nastabilla,Akuntansi,66,163,24.840980,Normal
21,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180,30.864198,Obesity
6,SC61702,Astrid Monika,Manajemen,44,155,18.314256,Underweight
16,SC61712,Anggieta Azzqhroika,Matematika,51,159,20.173253,Normal
19,SC61719,Amelia Wardani,Statistika,85,157,34.484158,Obesity
8,SC61701,Akhmal Angga Syahputra,Sistem Informasi,65,175,21.224490,Normal

## **Filter dataframe df berdasarkan:**
* Status BMI di luar Normal.
* Tinggi Badan > 169 cm dan Berat Badan > 60 kg
* Nama yang mengandung huruf “y”.
* Siapa saja yang berat badannya kurang dari 60 kg?

In [17]:
# Filter 1: Status BMI tidak normal
filter1 = df_17['Status BMI'] != 'Normal'

In [18]:
# Filter 2: Tinggi Badan lebih dari 169 dan Berat Badan lebih dari 60
filter2 = (df_17['Tinggi_Badan'] > 169) & (df_17['Berat_Badan'] > 60)

In [19]:
# Filter 3: Nama mengandung huruf 'y'
filter3 = df_17['Nama'].str.contains('y')

In [20]:
# Filter 4: Berat Badan kurang dari 60
filter4 = df_17['Berat_Badan'] < 60

In [21]:
# Gabungkan kembali filter-filter tersebut
filtered_df = df_17[filter1 & filter2 & filter3 & filter4]

In [22]:
# Tampilkan data yang telah difilter
df_17[filter3]

,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan,BMI,Status BMI
4,SC61771,Wahyudin,Sastra Arab,54,175,17.632653,Underweight
5,SC61708,Nayangku Wulansari,Akuntansi,38,158,15.221920,Underweight
8,SC61701,Akhmal Angga Syahputra,Sistem Informasi,65,175,21.224490,Normal
9,SC61721,Fineke Suciningtyas,Matematika,57,156,23.422091,Normal
10,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165,27.180900,Overweight
12,SC61718,Umul Syarifah,Fisika,62,160,24.218750,Normal
14,SC61714,I Gusti Agung Gede Ary Mahayasa,Informatika,72,180,22.222222,Normal
15,SC61703,Diandra Masayu Nastabilla,Akuntansi,66,163,24.840980,Normal
18,SC61713,Dini Ismoyobeti,Akuntansi,58,160,22.656250,Normal
21,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180,30.864198,Obesity

## **Tambahkan nomor urut pada dataframe df sesuai jumlah siswa dan tempatkan kolom nomor baru tersebut di paling ujung kiri sebagai kolom pertama serta beri nama kolomnya “No.”!**

In [23]:
# Tambahkan nomor urut pada dataf2rame
# df_17['No.'] = range(1, len(df_17) + 1)
# df_17 = df_17[['No.'] + [col for col in df_17.columns if col != 'No.']]
df_17.insert(0, 'No.', range(1, len(df_17) + 1), True)

df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No.           25 non-null     int64
 1   No_Peserta    25 non-null     object
 2   Nama          25 non-null     object
 3   Jurusan       25 non-null     object
 4   Berat_Badan   25 non-null     int64
 5   Tinggi_Badan  25 non-null     int64
 6   BMI           25 non-null     float64
 7   Status BMI    25 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 1.7+ KB

In [24]:
df_17

,No.,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan,BMI,Status BMI
0,1,SC61704,Lu'lu Ul Jannah,Teknik Informatika,45,150,20.000000,Normal
1,2,SC61717,Rahel Cecilia Purba,Teknik Informatika,68,158,27.239224,Overweight
2,3,SC61722,Nathifa Fadheela,Statistika,53,160,20.703125,Normal
3,4,SC61705,Irfan Widiantoro,Teknik Informatika,49,161,18.903592,Normal
4,5,SC61771,Wahyudin,Sastra Arab,54,175,17.632653,Underweight
5,6,SC61708,Nayangku Wulansari,Akuntansi,38,158,15.221920,Underweight
6,7,SC61702,Astrid Monika,Manajemen,44,155,18.314256,Underweight
7,8,SC61723,Nirina Ari Fani,Akuntansi,49,160,19.140625,Normal
8,9,SC61701,Akhmal Angga Syahputra,Sistem Informasi,65,175,21.224490,Normal
9,10,SC61721,Fineke Suciningtyas,Matematika,57,156,23.422091,Normal
10,11,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165,27.180900,Overweight
11,12,SC61715,Luthfiah Tuti Amalia,Manajemen,50,158,20.028842,Normal
12,13,SC61718,Umul Syarifah,Fisika,62,160,24.218750,Normal
13,14,SC61707,Muhammad Fardan Hadziqan,Bisnis Digital,67,170,23.183391,Normal
14,15,SC61714,I Gusti Agung Gede Ary Mahayasa,Informatika,72,180,22.222222,Normal
15,16,SC61703,Diandra Masayu Nastabilla,Akuntansi,66,163,24.840980,Normal
16,17,SC61712,Anggieta Azzqhroika,Matematika,51,159,20.173253,Normal
17,18,SC61709,Nadhifa Faiza,Teknik Informatika,61,166,22.136740,Normal
18,19,SC61713,Dini Ismoyobeti,Akuntansi,58,160,22.656250,Normal
19,20,SC61719,Amelia Wardani,Statistika,85,157,34.484158,Obesity
20,21,SC61725,Zalfa Amira,Sistem Komputer,69,166,25.039919,Overweight
21,22,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180,30.864198,Obesity
22,23,SC61724,Naswa Nabila Zahrani,Statistika,46,152,19.909972,Normal
23,24,SC61706,M. Zidhan,Ekonomi Pembangunan,54,165,19.834711,Normal
24,25,SC61710,Sekar Dewi Harnum Saputri,Informatika,45,159,17.799929,Underweight

## **Cari nilai-nilai berikut:**
* Cari nilai terendah dan tertingginya.
* Berapa nilai rata-rata tinggi badan siswa?
* Berapa rata-rata berat badan siswa?
* Ada berapa orang jumlah siswa  yang tercatat pada dataframe df?
* 5 orang dengan nilai BMI tertinggi.
* Ada berapa orang yang tergolong status Underweight, Normal, Overweight, dan Obesity?

### **Nilai Min Max Berat Badan**

In [25]:
# Cari nilai-nilai yang diminta
min_value = df_17['Berat_Badan'].min()
max_value = df_17['Berat_Badan'].max()

# Tampilkan nilai-nilai yang telah dicari
print("Nilai terendah berat badan:", min_value)
print("Nilai tertinggi berat badan:", max_value)

Nilai terendah berat badan: 38
Nilai tertinggi berat badan: 100

### **Nilai Min Max Tinggi Badan**

In [26]:
# Cari nilai-nilai yang diminta
min1_value = df_17['Tinggi_Badan'].min()
max1_value = df_17['Tinggi_Badan'].max()

# Tampilkan nilai-nilai yang telah dicari
print("Nilai terendah tinggi badan:", min1_value)
print("Nilai tertinggi tinggi badan:", max1_value)

Nilai terendah tinggi badan: 150
Nilai tertinggi tinggi badan: 180

### **Nilai Min Max BMI**

In [27]:
# Cari nilai-nilai yang diminta
min2_value = df_17['BMI'].min()
max2_value = df_17['BMI'].max()

# Tampilkan nilai-nilai yang telah dicari
print("Nilai terendah BMI:", min2_value)
print("Nilai tertinggi BMI:", max2_value)

Nilai terendah BMI: 15.221919564172406
Nilai tertinggi BMI: 34.484157572315304

### **Rata-rata Tinggi Badan**

In [28]:
# Cari nilai-nilai yang diminta
average_height = df_17['Tinggi_Badan'].mean()

# Tampilkan nilai-nilai yang telah dicari
print("Rata-rata tinggi badan siswa:", average_height)

Rata-rata tinggi badan siswa: 162.72

### **Rata-rata Berat Badan**

In [29]:
# Cari nilai-nilai yang diminta
average_weight = df_17['Berat_Badan'].mean()

# Tampilkan nilai-nilai yang telah dicari
print("Rata-rata berat badan siswa:", average_weight)

Rata-rata berat badan siswa: 59.28

### **Menggunakan Metode Aggregate**

In [30]:
df_17.agg({'Berat_Badan': ['min', 'max', 'mean'],
           'Tinggi_Badan': ['min', 'max', 'mean'],
           'BMI': ['min', 'max', 'mean']})

      Berat_Badan  Tinggi_Badan        BMI
min         38.00        150.00  15.221920
max        100.00        180.00  34.484158
mean        59.28        162.72  22.255048

### **Jumlah Siswa**

In [31]:
# Cari nilai-nilai yang diminta
total_students = len(df_17)

# Tampilkan nilai-nilai yang telah dicari
print("Jumlah siswa:", total_students)

Jumlah siswa: 25

### **Top 5 Nilai BMI**

In [32]:
# Cari nilai-nilai yang diminta
top_5_bmi = df_17.nlargest(5, 'BMI')

# Tampilkan nilai-nilai yang telah dicari
print("Top 5 BMI:")
top_5_bmi

Top 5 BMI:

,No.,No_Peserta,Nama,Jurusan,Berat_Badan,Tinggi_Badan,BMI,Status BMI
19,20,SC61719,Amelia Wardani,Statistika,85,157,34.484158,Obesity
21,22,SC61720,Bima Bayu Saputra,Teknologi Informasi,100,180,30.864198,Obesity
1,2,SC61717,Rahel Cecilia Purba,Teknik Informatika,68,158,27.239224,Overweight
10,11,SC61716,Muhammad Syafiq Anwar,Aktuaria,74,165,27.180900,Overweight
20,21,SC61725,Zalfa Amira,Sistem Komputer,69,166,25.039919,Overweight

### **Jumlah siswa di setiap status BMI**

In [33]:
# Cari nilai-nilai yang diminta
underweight_count = df_17[df_17['Status BMI'] == 'Underweight'].shape[0]
normal_count = df_17[df_17['Status BMI'] == 'Normal'].shape[0]
overweight_count = df_17[df_17['Status BMI'] == 'Overweight'].shape[0]
obesity_count = df_17[df_17['Status BMI'] == 'Obesity'].shape[0]

# Tampilkan nilai-nilai yang telah dicari
print("Jumlah siswa dengan status Underweight:", underweight_count)
print("Jumlah siswa dengan status Normal:", normal_count)
print("Jumlah siswa dengan status Overweight:", overweight_count)
print("Jumlah siswa dengan status Obesity:", obesity_count)

Jumlah siswa dengan status Underweight: 4
Jumlah siswa dengan status Normal: 16
Jumlah siswa dengan status Overweight: 3
Jumlah siswa dengan status Obesity: 2

# **SOAL 2**

Perusahaan Investasi Jamin-Sugih Co kami memberikan penawaran investasi terbaik dengan pembagian keuntungan tetap sebesar 25% setiap tahun.

Buatlah program Python yang dapat menerima input dari pengguna dalam bentuk:
Modal Investasi (bilangan bulat antara 0-1.000.000.000)
Jangka Waktu Investasi (bilangan bulat antara 1-25 dalam tahun)
Selain itu, program akan menampilkan error message bahwa modal atau tenure tidak sesuai ketentuan.

Program akan menampilkan informasi akumulasi investasi setiap tahun, menggunakan iterasi untuk setiap tahun.

In [34]:
def calculate_investment(capital, tenure):
    # Cek apakah modal investasi dan jangka waktu investasi sesuai ketentuan
    if capital < 0 or capital > 1000000000 or tenure < 1 or tenure > 25:
        if capital < 0 or capital > 1000000000:
            print("Error: Modal investasi harus dalam rentang 0 hingga 1.000.000.000.")
        if tenure < 1 or tenure > 25:
            print("Error: Jangka waktu investasi harus dalam rentang 1 hingga 25 tahun.")
        return

    # Hitung keuntungan setiap tahun
    total_investment = capital
    for year in range(1, tenure + 1):
        profit = total_investment * 0.25
        total_investment += profit
        print(f"Tahun ke- {year}, total investasi Anda: {total_investment}")

# Menerima input dari pengguna
try:
    print("==========================================================")
    print("----------------Investasi Jamin-Sugih Co------------------")
    print("==========================================================")
    capital = int(input("Modal Investasi               : "))
    tenure = int(input("Jangka Waktu Investasi (tahun): "))
    print("==========================================================")
    print("----------------------Hasil Inventasi---------------------")
    print("==========================================================")
    calculate_investment(capital, tenure)
except ValueError:
    print("Error: Masukkan harus berupa bilangan bulat.")

==========================================================
----------------Investasi Jamin-Sugih Co------------------
==========================================================
==========================================================
----------------------Hasil Inventasi---------------------
==========================================================
Tahun ke- 1, total investasi Anda: 6250000.0
Tahun ke- 2, total investasi Anda: 7812500.0
Tahun ke- 3, total investasi Anda: 9765625.0
Tahun ke- 4, total investasi Anda: 12207031.25
Tahun ke- 5, total investasi Anda: 15258789.0625
Tahun ke- 6, total investasi Anda: 19073486.328125
Tahun ke- 7, total investasi Anda: 23841857.91015625
Tahun ke- 8, total investasi Anda: 29802322.387695312
Tahun ke- 9, total investasi Anda: 37252902.98461914
Tahun ke- 10, total investasi Anda: 46566128.730773926
Tahun ke- 11, total investasi Anda: 58207660.91346741
Tahun ke- 12, total investasi Anda: 72759576.14183426
Tahun ke- 13, total investasi Anda: 90949470.17729282
Tahun ke- 14, total investasi Anda: 113686837.72161603
Tahun ke- 15, total investasi Anda: 142108547.15202004
Tahun ke- 16, total investasi Anda: 177635683.94002503
Tahun ke- 17, total investasi Anda: 222044604.9250313
Tahun ke- 18, total investasi Anda: 277555756.1562891
Tahun ke- 19, total investasi Anda: 346944695.1953614
Tahun ke- 20, total investasi Anda: 433680868.9942017
Tahun ke- 21, total investasi Anda: 542101086.2427522
Tahun ke- 22, total investasi Anda: 677626357.8034402
Tahun ke- 23, total investasi Anda: 847032947.2543002
Tahun ke- 24, total investasi Anda: 1058791184.0678753
Tahun ke- 25, total investasi Anda: 1323488980.084844